/*Style properties for all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Add colour to main page background*/
body {
    background-color: #d9dcd6;
}

/*Style to content under div class="header"*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Positioning & font size to <h1> header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Add color to "seo" within <h1> tags*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Set position & font style to header container*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Set unordered list style type to none*/
.header div ul {
    list-style-type: none;
}

/*Display & margin style to list items under <ul> tags*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Font color to anchors*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Add box model and fill with image*/
.meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Align float-left class images to left with slight margin from right*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Align float-left class images to right with slight margin from left*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Set positioning to content container*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Set positioning, font & background of each class within content container*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Restrict content images to max height*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/*Set margin & font size to h2 headers*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Font size to paragraphs*/
p {
    font-size: 16px;
}

/*Set positioning, font & background of benefits container*/
.benefits {
    margin-right: 20px;
    padding: 50px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Add font color & spacing from bottom to benefit- class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Center-align text & add more spacing from bottom to benefit headers*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Display benefit images as block, limit width and space*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Set style of box and font then align*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Set font size of h4 header*/
.footer h4 {
    font-size: 20px;
}
